{% extends 'base.html' %}


{% block title %}Product || {% endblock title %}
{% block body %}

{% comment %} image container start.... {% endcomment %}
<div class="contant">
    <div class="container-fluid px-0">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="static\12-04review.webp" class="d-block w-100" alt="slide-01">
          <div class="carousel-caption d-none d-md-block">
            <h3 style="color: black"><b>Welcome To WebSell</b></h3>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
    </div>
    
    
{% comment %} image container end..... {% endcomment %}
    



{% comment %} Albem start ...!!! {% endcomment %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Sample Pages</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Upload Your site</a>
            <a href="product" class="btn btn-secondary my-2">Buy our product</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <a href = "product/logInsignup" ><img src="static\loginpage.png" class="card-img-top" alt="..."></a>  
              <div class="card-body">
                <p class="card-text">This is a simple login page with html and css. this page is Responsive and widely recomended for you.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "product/logInsignup" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small> <b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href = "product/login-page2" ><img src="static/login2.png" class="d-block w-100" alt="..."></a>  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "product/login-page2" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href = "#" ><img src="static\Gintama.jpg" class="card-img-top" alt="..."></a>  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <a href = "#" ><img src="static\earth 01.jpg" class="card-img-top" alt="..."></a>  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href = "#" ><img src="static\Gintama.jpg" class="d-block w-100" alt="..."></a>  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href = "#" ><img src="static\hacker-wallpaper.jpg" class="d-block w-100" alt="..."></a>              
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <a href = "#" ><img src="static\hacker-wallpaper.jpg" class="d-block w-100" alt="..."></a>              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href = "#" ><img src="static\Gintama.jpg" class="card-img-top" alt="..."></a>  
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href = "#" ><img src="static\earth 01.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href = "#" ><button type="button" class="btn btn-sm btn-outline-secondary">Buy</button></a>
                  </div>
                  <h5 style="color:green"><small>Only </small><b>49$</b></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>

  {% comment %} Album end...!!! {% endcomment %}


{% endblock body %}